body
{
background-color:#f1f1ed;
font family: "serif, Arial, Helvetica, sans-serif";
}

table { background-color:#ffffff; }
caption { font-weight:bold; }
a.button_item:link    {text-decoration:underline;color:black; background-color:transparent}
a.button_item:visited {text-decoration:none;color:blue; background-color:transparent}
a.button_item:hover   {text-decoration:underline;color:red; background-color:transparent}
a.button_item:active  {text-decoration:underline;color:blue; background-color:transparent}

td.Button_nav, td.NavBar
{
text-align:center;
color:#000000;
background-color:#efefef;
font-family: Verdana, Arial, sans-serif, Helvetica;
font-size:10px;
font-weight:bold;
border-top:  1px solid #868686;
border-left: 2px solid #ffffff;
border-right:2px solid #868686;
border-bottom:2px solid #868686;
padding-bottom:2px;
}
.Writing
{
    text-indent: 2.5em;
    margin-right: 3em;
    margin-left: 3em;
}
.IndentWriting
{
    text-indent: 0em;
    margin-right: 3em;
    margin-left: 3em;
}
